html, body{
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f1f1f1;
    font-family: arial;
    text-align: center;
}

.layer {
    background-color: rgba(29, 29, 29, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
 
}

#content{
    display: inline-block;
    position: relative;
    margin: 3vh auto;
    width: 30%;
    height: 93%;
    max-width: 30%;
    text-align: center;
    background: rgba(29, 29, 29, 0.8);
    border-radius: 6px;
}

.newNote{
    display: inline-block;
    position: relative;
    margin: 20vh auto;
    width: 30%;
    height: 55vh;
    max-width: 30%;
    text-align: center;
    background: rgba(29, 29, 29, 0.8);
    border-radius: 6px;
}

h1{
    padding: 10px 0px 10px 0px;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 3vw;
    margin: 0;
}

textarea{
    border-radius: 6px;
    resize: none;
}

.choose{
    position: relative;
    margin: 30vh auto;
    width: 30%;
    height: 25vh;
    max-width: 30%;
    text-align: center;
    background: rgba(29, 29, 29, 0.8);
    border-radius: 6px;  
}

.select{
    margin: 15px auto;
    display: block;
    padding: 10px;
}

.button{
    display: inline-block;
    padding: 10px;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.6vw;
    margin: 5px auto;
}